<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.studenthub</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>studenthub</string>
			</array>
		</dict>
	</array>
	<key>PrivPrivacy - Calendars Usage Description</key>
	<string>Cette application a besoin d'accéder à vos cours pour gérer vos présences et vos notifications.</string>
</dict>
</plist>
